<!DOCTYPE html>
<html>
<head>
	<title>Hayat page</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
</head>
<body>

  <nav class="black darken-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="/images/image2.png"></a>
      <ul id='ul1' class="right hide-on-med-and-down">
        	 <li><a href="/about">How It Works</a></li>
      <% if(!currentUser){ %>
      	   <li><a href="/signup">Sign Up</a></li>
  			   <li><a href="/login"> Log In</a></li>
      <%  } else{ %>
          <li><a herf="#" >Signd In As <%= currentUser.username%></a></li>
          <li ><a href="/logout">Log Out</a></li>
        
      <% }%> 
       
      </ul>
       
      <ul id="nav-mobile" class="side-nav black darken-2">
         
          <li><a href="/about">How It Works</a></li>
      	<% if(!currentUser){ %>
          <li><a href="/signup">Sign Up</a></li>
           <li><a href="/login"> Log In</a></li>
        <%  } else{ %>
          <li><a herf="#" >Signd In As <%= currentUser.username%></a></li>
          <li><a href="/logout">Log Out</a></li>
      <% }%> 
     
       
      </ul> 
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons white-text">menu</i></a> 
    </div>
  </nav>

	   

      



	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/scripts/init.js"></script>
	<script type="text/javascript" src="/scripts/materialize.min.js"></script>
