<%- include ./partials/head.ejs %>
<div class="row main-content">
      <form class="col m8 offset-m2">
        <div class="row">
        <h4 id="text-form" class="white-text">How Is My Family?</h4>
          <div class="input-field col s6">


            <input class="white-text" id="input_text" type="text" data-length="30">
            <label class="white-text" id="input_text_label" for="input_text">Where are they from?</label>



            <button id="button-form-index" type="submit" class="btn waves-effect black darken-2" name="Submit" id="submit">GO<i class="material-icons right">send</i></button>
          </div>
        </div>

      </form>
    </div>



<%- include ./partials/footer.ejs %>