<%- include ./partials/head.ejs %>

  <div id="map">
    <iframe src="https://www.google.com/maps/d/embed?mid=13O8oHwgeZ_BTzf0Icz34mIWzoF4" width="" height=""></iframe>
  </div>




<%- include ./partials/footer.ejs %>